:root{
    --primary-color: #22254b;
    --secondary-color: #373b69;
    --color: #7378c5;
}

.ticket {
  font-family: ubuntu;
  font-size: 85%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.ticket-header{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.ticket-header p{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ticket img{
	width: 10%;
	height: 10%;
}
.ticket h2 {
  text-align: center;
  margin-bottom: 20px;
}

.ticket-info {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex: 0 0 128px;*/
  /*margin-right: 20px;*/
}

.distributions{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 3%;
	box-sizing: border-box;
}

.distributions span{
	font-family: 'TicketFont', Arial, sans-serif;
	font-weight: bolder;
	text-transform: uppercase;

}
.distributions p{
	margin-top: 7%;
	font-weight: 4%;
}
.distributions:nth-child(2) p, .distributions:nth-child(3) p{
	margin-top: 3%;
}
.details {
  /*flex: 1 1 auto;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.details p {
  flex-basis: 50%;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  .qrcode {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .details p {
    flex-basis: 100%;
  }
}

